@model _05_Html_Helpers.Models.User

<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script> <!-- ~ => ana dizin (wwwroot)-->
        <script src="~/lib/jquery-validation-unobtrusive//jquery.validate.unobtrusive.min.js"></script>
    </head>
    <body>
        <h1>Html Helper Example</h1>
    @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
    {
        <fieldset>
            <legend>Form Example</legend>
            <div>
               @Html.LabelFor(n => Model.Name)
               @Html.TextBoxFor(n => Model.Name) <!-- Html Helpers <input type="text" value="Model.Name"-->
               @Html.ValidationMessageFor(n => n.Name)
            </div>
            <div>
                @Html.LabelFor(n => Model.Age)
                @Html.TextBoxFor(n => Model.Age)
                @Html.ValidationMessageFor(n => n.Age)
            </div>
            <div>
                @Html.DropDownListFor(n => Model.Country, Model.CountryList, "Select Country")
                @Html.ValidationMessageFor(n => n.Country)
            </div>
            <div>
                @Html.RadioButtonFor(n => Model.Gender,"Male") Male
                @Html.RadioButtonFor(n => Model.Gender, "Female") Female
                @Html.ValidationMessageFor(n => n.Gender)
            </div>
            <div>
                <input type="submit" value="Send Form" />
            </div>
        </fieldset>
    }

    @Html.ValidationSummary()
    </body>
</html>