@model IEnumerable<_18_EntityFrameworkExample.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button class="btn btn-primary m-2" id="addStudentsWithTransaction">Transaction ile Öğrenci Ekle</button>
    <a class="btn btn-primary m-2" asp-action="RawSql">Raw Sql</a>
    <a class="btn btn-primary m-2" asp-action="BulkInsert">Bulk Insert</a>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var student in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => student.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.Department)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@student.Id">Düzenle</a>
                        <a asp-action="Details" asp-route-id="@student.Id">Detaylar</a>
                        <a asp-action="Delete" asp-route-id="@student.Id">Sil</a>
                    </td>
                </tr>
            }
            
           
    </tbody>
    
</table>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#addStudentsWithTransaction").click(function(){
                console.log("test");
                var students = [
                    { Name: "Test1", Age:26 , Department:"Bilgisayar Mühendisliği"},
                    { Name: "Test2", Age:20 , Department:"Elektrik Mühendisliği"}
                ]

                $.ajax({
                    url: '@Url.Action("AddStudentsWithTransaction", "Home")',// Aksiyonun url i
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(students),
                    success: function(result){
                        alert("Öğrenciler başarıyla eklendi"),
                        location.reload()
                    },
                    error: function(error){
                        console.log(error)
                        alert(error.responseText)
                    }
                })
            })
        })
    </script>

}
