<h2>Index</h2>
<p>@ViewBag.name</p>
@{
    SelectListItem[] liste = new SelectListItem[2]
    {
        new SelectListItem() {Text = "Değer 1"},
        new SelectListItem() {Text = "Değer 2"}
    };
}

<!-- Html Helper ile form oluşturm -->
@using (Html.BeginForm("Index","Home"))
{
    @Html.TextBox("ad");
    @Html.DropDownList("kisiler",liste)
    @("Onaylıyorum") @Html.CheckBox("onay")
    <input type="submit" value="Gönder" />
}



<form method="POST">
    <input type="text" name="ad" />
    <select name="kisiler">
        <option>Ali</option>
    </select>
    Onaylıyorum: <input type="checkbox" name="onay" value="false" />
    <input type="submit" value="Gönder" />
</form>